
@import "variables";

@mixin flex($direction:row,$position:center){
	display: flex;
	flex-direction: $direction;
	justify-content: $position;
	@if ($direction==row or $direction==row-reverse){
		align-items: center;
	} @else {
		align-items:$position;
	}
}

@mixin grid($rows,$columns,$rowGap:0px,$columnGap:0px){
	display: grid;
	grid-template-rows:$rows;
	grid-row-gap: $rowGap;
	grid-template-columns: $columns;
	grid-column-gap: $columnGap;
}

@mixin theme($color:color(primary)){
	background:$color;
	@if (lightness($color)<40%){
		color:color(primary);
	} @else {
		color:color(text);
	}
}

@mixin hover($color,$text,$delay){
	&:hover,&:hover>*{
		@if $delay{
			transition: 0.3s;
		}
		background:darken($color,30%);
		color:lighten($text,80%);
	}
}

@mixin transition($time:1s,$property:all){
	transition:$property $time ease-in-out;
}

@mixin media-under($width){
	@media (max-width: $width){
		@content;
	}
}

@mixin media-over($width){
	@media (min-width:$width){
		@content;
	}
}