@import "variables";
@import "mixins";


*{
	padding:0;
	margin: 0;
}

body{
	background: color(primary);
	color:color(text);
	font-weight: 200;
	font-family: calibri;
}

li{
	list-style: none;
}

a,a:visited{
	text-decoration: none;
	color:color(text);
}

.input{
	border:solid lightgrey 1px;
	border-radius: 5px;
	padding:3px 10px;
	&::placeholder{
		color:color(grey);
	}
}

.btn{
	@include theme(color(auxiliar));
	border:none;
	border-radius:5px;
	padding:5px;
	outline:none;
}

.popup_blur{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	z-index: 200;
	background: rgba(0,0,0,0.5);
	filter:blur(20px);
	-webkit-filter:blur(20px);
}

.popup{
	@include theme(color(primary));
	position:fixed;
	transform:translate(50%,-50%);
	right:50%;
	top:50%;
	padding: 2vw;
	border:solid color(secondary) 5px;
	border-radius: 10px;
	z-index: 300;
}

.popup_close{
	width:25px;
	height: 25px;
	position: absolute;
	top:-12.5px;
	right:-12.5px;
	background: color(clear);
	color:var(--color-secondary);
	border:solid color(secondary) 3px;
	border-radius: 50%;
	outline:none;
}

.popup_close:hover{
	background: lighten(color(secondary),20%);
	color:var(--color-back-3);
}

.popup_close:active{
	background: darken(color(secondary),20%);
	color:color(text);
}

