
$colors: (
	primary:#2B2E4A,
	secondary:#E84545,
	auxiliar:#903749,
	clear:#53354A,
	text:#FF8965
);

$devise:(
	tiny:300px,
	small:450px,
	medium:600px,
	normal:750px,
	large:900,
	huge:1100
);

@function color($type){
	@return map-get($colors,$type);
}

@function devise($type){
	@return map-get($devise,$type);
}