@import "variables";
@import "mixins";

*{
	padding:0;
	margin: 0;
}

body{
	background: color(background);
	font-weight: 200;
	font-family: calibri;
}

li{
	list-style: none;
}

a,a:visited{
	text-decoration: none;
	color:color(text);
}

.input{
	border:solid lightgrey 1px;
	border-radius: 5px;
	padding:3px 10px;
	&::placeholder{
		color:color(grey);
	}
}

.btn{
	@include theme(color(clear));
	border:none;
	border-radius:5px;
	padding:5px;
}

.navbar{
	@include flex(row,space-between);
	@include theme(color(primary));
	position: fixed;
	top:0;
	right:0;
	left:0;
	padding:0 1em;
	z-index: 100;

	.navbar-title{
		width:60px;
		height: auto;
	}

	.form{
		@include flex;
		max-width: 500px;
		padding:20px 0px;
		.search-input{
			width:100%;
		}
	}
	.nav-container{
		@include flex(row,space-between); 
	}
	#{&}-nav{
		@include flex(row,space-around);	
	}
	#{&}-toggler{
		outline: transparent;
		display: none;
	}
	.nav-item{
		@include hover(color(primary),color(text),false);
		padding:20px 10px;
	}

	@mixin bar{
		display: block;
		width:23px;
		height: 1px;
		background:color(text);
		content:"";
	}

	@include media-under(devise(medium)){
		
		#{&}-nav{
			@include flex(column);
			position:absolute;
			background:color(primary);
			visibility: hidden;
			width: 100vw;
			height: 100vh;
			top:100%;
			left: 50%;
			transform: translate(-50% ,-150%);
			&.active{
				@include transition(1s,transform);
				transform: translate(-50% ,0%);
				visibility: visible;
			}
		}

		#{&}-toggler{
			display: block;
			border:none;
			width:25px;
			height: 25px;
		}
	}
}